.association-profile-content {
  --background: #1e1e1e;
  color: #ffffff;
  padding-top: 20px;
}

.banner-container {
  width: calc(100% - 40px);
  max-width: 1152px;
  height: 200px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border: 5px solid #ffffff;
  position: relative;
}

.association-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.association-avatar-container {
  background-color: #ffffff;
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
  margin-top: -50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.association-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.association-name, .association-meta {
  display: block;
  margin-top: 5px;
  text-align: center;
}

.association-name {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px;
}

.association-meta {
  font-size: 14px;
  color: #bbbbbb;
}

.association-section-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  color: #ffffff;
}

.association-description {
  font-size: 16px;
  text-align: justify;
  color: #ffffff;
  padding: 0 15px;
}

.ion-segment {
  background-color: #333333;
}

.ion-segment-button {
  --background: #444444;
  --color-checked: #ffffff;
}

.faq-list {
  padding: 15px;
}

.faq-item {
  background-color: #2b2b2b;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
}

.faq-question {
  color: #ffffff;
}

.faq-answer {
  color: #dddddd;
}

.members-list {
  padding: 15px;
}

.member-card {
  background-color: #2b2b2b !important;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.member-name {
  color: #ffffff !important;
}

.member-email {
  color: #dddddd;
}

.association-blogs {
  margin-top: 20px !important;

  display: flex !important;
}

.create-blog-button{
  margin-top: 20px !important;
  justify-content: center !important;
}

.blog-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #2b2b2b !important;
  color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-card-content {
  flex-grow: 1;
}

.blog-card-title {
  color: #ffffff;
}

.blog-card-description {
  color: #bbbbbb !important;
}

.blog-card-actions {
  display: flex;
  justify-content: space-between;
}
