.association-profile-content {
  color: #ffffff; /* Color del texto */
}

.banner-container {
  background-color: #ffffff; /* Fondo blanco para el contenedor del banner */
}

.association-banner {
  width: 100%;
  height: auto; /* Asegura que la altura se ajuste automáticamente */
  background-color: #ffffff; /* Fondo blanco para el banner */
}

.association-avatar-container {
  background-color: #ffffff; /* Fondo blanco para el contenedor del avatar */
  display: inline-block;
  padding: 10px;
  border-radius: 50%; /* Bordes redondeados */
  margin-top: -50px; /* Superposición del avatar sobre el banner */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para un efecto flotante */
  overflow: hidden; /* Recorta cualquier contenido que sobresalga */
}

.association-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Bordes redondeados para la imagen del avatar */
  object-fit: cover; /* Asegura que la imagen cubra completamente el área del contenedor */
}

.association-name, .association-meta {
  display: block;
  margin-top: 5px;
  text-align: center; /* Alineación central */
}

.association-name {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff; /* Color del texto del nombre */
  margin-bottom: 10px; /* Espacio entre el nombre y los detalles */
}

.association-meta {
  font-size: 14px;
  color: #bbbbbb;
}

.association-section-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  color: #ffffff;
}

.association-description {
  font-size: 16px;
  text-align: justify;
  color: #ffffff;
  padding: 0 15px;
}

.ion-segment {
  background-color: #333333;
}

.ion-segment-button {
  --background: #444444; /* Fondo para el botón de segmento */
  --color-checked: #ffffff; /* Color del texto cuando está seleccionado */
}

/* Estilos del contenedor del banner con margen y sombra */
.banner-container {
  width: calc(100% - 40px); /* Calcula el ancho con un margen total horizontal de 40px */
  max-width: 1152px; /* Máximo ancho del banner para evitar que se extienda demasiado en pantallas grandes */
  height: 200px; /* Altura fija más pequeña para controlar el estiramiento */
  margin: 20px auto; /* Centra el banner horizontalmente con un margen superior */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra sutil para dar profundidad */
  overflow: hidden; /* Oculta cualquier parte de la imagen que exceda el tamaño del contenedor */
  border: 5px solid #ffffff; /* Borde blanco para destacar el banner */
  position: relative; /* Posicionamiento relativo para elementos internos */
}

/* Estilos de la imagen del banner para asegurar cobertura completa */
.association-banner {
  width: 100%; /* Ancho completo para cubrir el contenedor */
  height: 100%; /* Altura completa para cubrir el contenedor */
  object-fit: cover; /* Asegura que la imagen cubra el espacio disponible sin deformarse */
  object-position: center; /* Centra la imagen dentro del contenedor */
}