.association-card {
    margin-bottom: 20px;
  }
  
  .association-card img {
    max-height: 150px;
    object-fit: contain;
  }
  
  .recent-activity-content{
    background-color: #347ec7 !important;
  }
  .leave-button{
    --ion-color-contrast: #fff !important;
    --background: #db2626 !important;
    color: #db2626 !important;
    font-weight: 600 !important;
  }

  .know-more-button{
    --ion-color-contrast: #fff !important;
    --background: #a8ddec !important;
    border: "2px solid #28629c" ;
    border-color: "#28629c" !important;
    
  }

  .association-title{
    color: #85b0ff;
    font-weight: bolder;
  }

  .association-text{
    color: #d8dfe5;
    font-weight: bold;
  }

  .recent-activity :hover{
    background-color: #abb2ba !important;
  }