/* Global text color */
* {
  color: rgb(255, 255, 255);
}

/* Centering content and setting background color */
.register-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1e1e1e;
  padding: 16px;
  padding-top: 72px;
}

/* Container styling */
.register-container {
  width: 100%;
  max-width: 360px;
  background-color: #0d84d3 !important;
  color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  margin: auto;
}

/* Card styling */
.register-card {
  background-color: transparent;
  box-shadow: none;
  border: none;
}

/* Avatar styling */
.register-avatar {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto 20px;
}

/* Input item styling */
.register-item {
  background: #ffffff !important;
  color: #000000 !important;
  border-radius: 8px;
  margin-bottom: 16px;
}

/* Text Field styling for MUI components */
.MuiOutlinedInput-root {
  color: #000000 !important;
}

.MuiInputLabel-root {
  color: #010000 !important;
  font-weight: 500 !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #0d0000 !important;
}

/* Label styling */
.register-label {
  color: #60adc4;
  font-size: 16px;
}

/* Input text styling */
.text-field .MuiInputBase-input {
  color: #000000 !important;
}

.text-field .MuiInputLabel-root {
  color: #010000 !important;
}

.text-field .MuiOutlinedInput-root {
  &.Mui-focused fieldset {
    border-color: #60adc4 !important;
  }
}

.text-field .MuiOutlinedInput-notchedOutline {
  border-color: #000000 !important;
}

/* Password container */
.password-container {
  display: flex;
  align-items: center;
  position: relative;
}

/* Password toggle button */
.password-toggle-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #000000 !important;
}

/* Button styling */
.register-button {
  display: block;
  width: 100%;
  margin-top: 20px;
  --background: #ffffff !important;
  color: #000000 !important;
  font-weight: 900 !important;
  border-radius: 8px;
}

/* Spacer for layout */
.spacer {
  height: 50px;
}

/* Focused input styling */
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-input {
  font-size: 15px !important;
  color: #60adc4 !important;
}

.MuiInputLabel-root.Mui-focused {
  font-size: 18px !important;
  color: #ce3f3f !important;
  font-weight: bolder !important;
  border-radius: 10% !important;
}

/* Avatar input styling */
.register-avatar-input {
  display: none;
}

.register-avatar-button{
   width: min-content;
   height: min-content;
   padding: 5px;
   margin: 0px;
}