/* Global text color */
* {
  color: rgb(0, 0, 0) !important;
}

/* Centering content and setting background color */
.register-content {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100vh !important;
  background-color: #73727a!important;
  padding: 16px !important;
  padding-top: 72px !important;
}

/* Container styling */
.register-container {
  width: 100% !important;
  max-width: 360px !important;
  background-color: #73727a!important ;
  color: #ffffff !important;
  border-radius: 12px !important;
  padding: 20px !important;
  text-align: center !important;
  margin: auto !important;
}

/* Card styling */
.register-card {
  background-color: transparent !important;
  border: none !important;
}

/* Avatar styling */
.register-avatar {
  border-radius: 50% !important;
  width: 80px !important;
  height: 80px !important;
  display: block !important;
  margin: 0 auto 20px !important;
}

/* Input item styling */
.register-item {
  background: #ffffff !important ;
  color: #000000 !important ;
  border-radius: 8px !important;
  margin-bottom: 16px !important;
}

/* Text Field styling for MUI components */
.MuiOutlinedInput-root {
  color: #000000 !important ;
}

.MuiInputLabel-root {
  color: #010000 !important ;
  font-weight: 500 !important ;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #0d0000 !important ;
}

/* Label styling */
.register-label {
  color: #60adc4 !important;
  font-size: 16px !important;
}

/* Input text styling */
.text-field .MuiInputBase-input {
  color: #000000 !important ;
}

.text-field .MuiInputLabel-root {
  color: #010000 !important ;
}

.text-field .MuiOutlinedInput-root {
  &.Mui-focused fieldset {
    border-color: #60adc4 !important ;
  }
}

.text-field .MuiOutlinedInput-notchedOutline {
  border-color: #000000 !important ;
}

/* Password container */
.password-container {
  display: flex !important;
  align-items: center !important;
  position: relative !important;
}

/* Password toggle button */
.password-toggle-button {
  position: absolute !important;
  right: 10px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  color: #000000 !important ;
}

/* Button styling */
.register-button {
  display: block !important;
  width: 100% !important;
  margin-top: 20px !important;
  --background: #ffffff !important ;
  color: #000000 !important ;
  font-weight: 900 !important ;
  border-radius: 8px !important;
}

/* Spacer for layout */
.spacer {
  height: 5% !important ;
}

/* Focused input styling */
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-input {
  font-size: 15px !important ;
  color: #73727a!important ;
}

.MuiInputLabel-root.Mui-focused {
  font-size: 18px !important ;
  color: #000000 !important ;
  font-weight: bolder !important ;
  border-radius: 10% !important ;
}

/* Avatar input styling */
.register-avatar-input {
  display: none !important;
}

.register-avatar-button {
  width: min-content !important;
  height: min-content !important;
  padding: 5px !important;
  margin: 0px !important;
}

/* Avatar container */
.avatar-container {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

/* Login buttons styling */
.login-buttons {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px !important; /* Space between the links */
}

.login-link {
  color: #60adc4 !important;
  font-weight: 700 !important;
  text-decoration: none !important;
}

.login-link:hover {
  text-decoration: underline !important;
}

.register-icon{
  *{
    color: #000000 !important;
  }
}