/* General styling */
.content-with-extra-padding {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.footer-space {
  height: 50px;
  background: transparent;
}

/* Blog details specific styling */
.blog-details-content {
  padding: 20px;
  background-color: #f9f9f9;
}

.blog-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
}

.publication-card {
  margin-bottom: 20px;
  border: 2px solid #347ec7;
  border-radius: 10px;
  background-color: #28629c;
}

.publication-chip {
  display: flex;
  align-items: center;
}

.add-comment {
  --background: #030615 !important;
}

/* Comment styling */
.comment-chip {
  width: fit-content;
  max-width: 100%;
  min-width: 0;
}

.comment-level-0 {
  margin-left: 0;
}

.comment-level-1 {
  margin-left: 20px;
}

.comment-level-2 {
  margin-left: 40px;
}

.comment-level-3 {
  margin-left: 50px;
}

.comment-level-4 {
  margin-left: 60px;
}

.dialog-content {
  background-color: #333;
  color: #fff;
}

.dialog-actions {
  background-color: #444;
}

.dialog-title {
  background-color: #222;
  color: #fff;
}

.text-field input {
  color: #fff;
}

.text-field label {
  color: #bbb;
}

.text-field .MuiInput-underline:before {
  border-bottom: 1px solid #777;
}

.text-field .MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: 2px solid #bbb;
}

/* Add more levels if necessary */
