.login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;  /* Espacio superior reducido para un mejor encuadre */
    background-color: #121212; /* Fondo oscuro para todo el contenido */
  }
  
  .login-container {
    background-color: #262626; /* Fondo más oscuro para el contenedor */
    max-width: 400px; /* Tamaño más adecuado para el contenedor */
    width: 90%;
    margin: 2rem auto; /* Centrado y espacio superior e inferior */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem; /* Espacio interno más generoso */
    border-radius: 12px; /* Bordes suavemente redondeados */
    box-shadow: 0 8px 24px rgba(0,0,0,0.2); /* Sombra más marcada para efecto elevado */
    border: 1px solid #333333; /* Borde más oscuro para definición */
  }
  
  .login-container ion-img {
    max-width: 100px; /* Logo más pequeño para equilibrio */
    margin-bottom: 2rem; /* Espacio separador */
  }
  
  ion-item {
    --border-radius: 12px; /* Bordes redondeados consistentes */
    --background: #333333; /* Fondo oscuro para los ítems */
    --padding-start: 1rem; /* Padding para el inicio del input */
    --padding-end: 1rem; /* Padding para el final del input */
    margin-bottom: 1rem; /* Margen entre items */
    --color: #ddd; /* Color del texto claro para contraste */
    --placeholder-color: #ccc; /* Color para los placeholders */
  }
  
  ion-label {
    --color: #ccc; /* Color de texto claro para mejor visibilidad */
  }
  
  ion-button {
    margin-top: 1rem; /*
     Margen superior para botones */
    --background: #007aff; /* Color azul para botones */
    --color: #fff; /* Texto blanco para botones */
    
    --border-radius: 20%;
  }
  
  ion-button[fill="clear"] {
    border-radius: 20%;
    --color: #bbb; /* Botones secundarios más sutiles */
  }
  