.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Usa todo el alto de la vista para centrar el contenido */
  background-color: #121212; /* Ajusta al color deseado */
}

.login-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 100%;
  max-width: 360px; /* Ajusta según la anchura deseada para el formulario */
  background-color: #242424; /* Fondo del formulario */
  color: #ffffff; /* Color de texto */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Sombra para el formulario */
  border-radius: 8px; /* Bordes redondeados */
  padding: 20px; /* Padding interno para espacio alrededor de los elementos del formulario */
}

/* Resto de estilos */


ion-avatar {
  --border-radius: 50%;
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto 20px; /* Asegura que el avatar está centrado y tiene margen */
}

ion-item {
  --background: #333333; /* Fondo de los campos de entrada */
  --color: #ffffff; /* Color del texto */
  --placeholder-color: #bbbbbb; /* Color de los placeholders */
  --border-radius: 8px; /* Bordes redondeados para los campos de entrada */
  margin-bottom: 16px; /* Espacio entre campos de entrada */
}

ion-label {
  color: #ffffff; /* Color de las etiquetas */
}

ion-input {
  color: #ffffff; /* Color del texto de entrada */
}

ion-button {
  display: block; /* Asegura que el botón ocupe todo el ancho disponible */
  width: 100%; /* Ancho completo dentro del formulario */
  margin-top: 20px; /* Espacio antes del botón */
  --background: var(--ion-color-primary); /* Color del botón */
  --color: #ffffff; /* Texto del botón */
}

ion-footer {
  background: none; /* Sin fondo para el pie */
}

ion-button[fill="clear"] {
  color: #bbbbbb; /* Color para los botones secundarios */
  font-weight: bold; /* Negrita para los botones secundarios */
}
