:root {
  --ion-color-primary: #007aff;
  --ion-color-primary-contrast: #ffffff;
}

ion-avatar {
  --border-radius: 50%;
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
}

ion-item {
  --background: rgba(255, 255, 255, 0.3); /* Fondo estilo burbuja */
  --color: #ddd; /* Color del texto */
  --placeholder-color: rgba(204, 204, 204, 0.7); /* Color inicial del placeholder */
  --padding-start: 1rem;
  --padding-end: 1rem;
  --border-radius: 5px; /* Bordes más redondeados */
  margin-bottom: 1rem;
  transition: all 0.3s ease; /* Transición suave para efectos de hover */
}

ion-item:hover {
  --placeholder-color: transparent; /* Oculta el placeholder al hacer hover */
}

ion-input::placeholder {
  opacity: 1; /* Asegura que el placeholder es totalmente visible inicialmente */
}

ion-input:hover::placeholder {
  opacity: 0; /* Hace que el placeholder desaparezca al hacer hover */
}

.ion-padding {
  padding: 2rem;
}

@media (max-width: 768px) {
  ion-avatar {
    width: 80px;
    height: 80px;
  }

  ion-item {
    --padding-start: 0.5rem;
    --padding-end: 0.5rem;
  }

  .ion-padding {
    padding: 1rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  ion-avatar {
    width: 90px;
    height: 90px;
  }

  .ion-padding {
    padding: 1.5rem;
  }
}

@media (min-width: 1025px) {
  ion-avatar {
    width: 100px;
    height: 100px;
  }

  ion-item {
    margin-bottom: 2rem;
  }

  .ion-padding {
    padding: 2rem;
  }
}
